body{
    margin: 0;
    padding: 0;
    width: 100%;
	box-sizing: border-box;
    overflow-x: hidden; 
}

.logo{
    height: 50px;
    width: 50px;
}

#myvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

hr {
    height: 1px;
    font-weight: bold;
}
hr:not([size]) {
    height: 3px;
}

#aboutTitle , #experienceTitle {
    color: #740054;
}

.anim-nav{
    background: #74005370;
    /* background: rgba(255, 186, 140, 0.6); */
    box-shadow: 0 0.5rem 2rem 0 rgba(54, 56, 82, 0.369);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: transparent;
}

.content {
    position: absolute;
    color: #f1f1f1;
    padding: 20px;
    bottom: 20em;
}

.section {
    width: 100vw;
    height: 100vh;
}






/* Page à propos */
.two {
    background: #ffffff;
    /* background: #720052; */
}
ul, li{
    list-style-type: none;
}

.partImg{
    background-image: url(../img/imgabout.png);
    background-size: cover;
    background-position:center ;
    height: 500px;
    width: 500px;
}

.partText{
    font-size: clamp(1rem, 4vw, 2rem);
}




.btn {
    display: inline-block;
    margin: 3rem;
    background-color: #d1345a;
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover {
    background-color: #d1345a;
    transition: all .3s ease;
}






/* skills // COMPETENCES */
.tree {
    background: rgb(255,0,91);
    background: linear-gradient(69deg, rgba(255,0,91,1) 0%, rgba(246,0,89,1) 14%, rgba(223,0,91,1) 32%, rgba(194,0,88,1) 50%, rgba(172,0,88,1) 67%, rgba(144,0,83,1) 90%, rgba(114,0,82,1) 100%);;
    /* background: #D10050; */
}


/* experience // PARCOURS */
.four {
    background: #ffffff;
}

.vertical {
    border-left: 4px solid white;
    height: 800px;
    display: inline-block;
}





/* projects// REALISATION */
.five {
    background: rgb(255,0,91);
    background: linear-gradient(69deg, rgba(255,0,91,1) 0%, rgba(246,0,89,1) 14%, rgba(223,0,91,1) 32%, rgba(194,0,88,1) 50%, rgba(172,0,88,1) 67%, rgba(144,0,83,1) 90%, rgba(114,0,82,1) 100%);
}



/* -----------------------------------ABOUT&SKILLS---------------------------------------- */
.custom-shape-divider-bottom-1650106571 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650106571 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 92px;
    transform: rotateY(180deg);
}

.shape-fill {
    fill: rgb(255, 255, 255) ;
}
.shape-fill-2{
    fill: #ffffff;
}


/* SVG avant parcours  */

.custom-shape-divider-bottom-1650349847 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650349847 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1650349847 .shape-fill {
    fill: #FFFFFF;
}
/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1650106571 svg {
        width: calc(162% + 1.3px);
        height: 92px;
    }
}

footer{
    bottom:0; 
    margin: 0 auto;
    margin-bottom: 0rem;
    p{

    }
}

